*{
  margin: none;
  padding: none;
}
body{
  background-color: white;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 5px 10px 5px 10px; /* top right bottom left */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.container{
  position: relative;
  top: 60px;
  margin-top: 15px;
  padding: 0px 15px 0px 15px;
}
.seats{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 150px;
  justify-items: center;
  align-items: center;
}
.seats-left{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  cursor: zoom-in;
}
.seats-center{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 2px;
  cursor: zoom-in;
}
.seats-right{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  cursor: zoom-in;
}
.seat{
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: none;
}
.screen{
  width: 100%;
  height: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
}
.booking-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.booking-seat{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buying{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buying button{
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}
#buy{
  background-color: green;
}
#cancel{
  background-color: crimson;
}

.food{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking-item{
  width: 40px;
  height: 40px;
  cursor: default;
}
.food-item{
  display: flex;
  gap: 10px;
}
.food-item input{
  width: 60px;
}

@media only screen and (min-width: 500px){
  .seats{
    height: 600px;
    pointer-events: none;
  }
  .seat{
    width: 40px;
    height: 40px;
    cursor: pointer;
    pointer-events: all;
  }
  .screen{
    height: 30px;
  }
  .booking-item{
    width: 60px;
    height: 60px;
    cursor: default;
  }
  .buying button{
    height: 50px;
    width: 300px;
    font-size: larger;
  }
}